#Dependencias Core
ragas
deepeval 
langchain-openai
langchain
langchain-community
langchain-groq
langchain-cohere
langchain-chroma
langchain-huggingface
langchain-google-genai
cohere
unstructured[md]
pypdf
sentence-transformers
chromadb
lark
python-multipart
#Dependencias soporte
python-frontmatter   # para leer/escribir el YAML frontmatter
pydantic             # validación del esquema de metadatos


#API
fastapi
uvicorn
python-dotenv
PyJWT
slowapi